.footer {
    background-color: #262626;
    padding: 100px 0px;
    &__paragraph {
        margin-top: 60px;
        font-size: 25px;
        line-height: 31px;
        color: #B1B1B1;
    }
}