.list {
    &__connection {
        a {
            /*тут а надо сделать элементом???*/
            color: #FFFFFF;
            font-size: 35px;
            line-height: 50px;
            font-weight: 300;
        }
    }
}